<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title> TeTe - Review assist</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/static/wgo.js/wgo/wgo.player.css" />

  <link rel="icon" type="image/png" href="/static/favicon.png">

  <script src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/wgo.js/wgo/wgo.min.js"></script>
  <script type="text/javascript" src="/static/wgo.js/wgo/wgo.player.min.js"></script>
  

</head>
<body>


<div class="container">
    <div class="row fattopbottommargin">
        <div class="one-half column">
        </div>
        <div class="one-half column">
        </div>
    </div>


    <div class="row">
        <div id="wgoboard" data-wgo-enablewheel="false" >
        Your browser doesn't support WGo Player. Use some modern browser like IE9, Google Chrome or Mozilla Firefox.
        </div>
    </div>

    <div class="row fattopmargin">

    </div>

    <div class="row fattopbottommargin fattopmargin">
         <button id="newgame">Load Random Game</button>
         <button id="resetposition">Load Random Position</button>
         <button id="resetmarks">Reset Markers</button>
    </div>

</div>

</div>

<script>
  var sgf_files = [{% for f in files%}"{{f}}"{%if not loop.last%},{% endif %}{% endfor %}];
  $( "#newgame" ).click(function() {
  LoadWgo();
});
  $( "#resetmarks" ).click(function() {
  ResetMarkers();
});
  $( "#resetposition" ).click(function() {
  ScanPositions();
});
</script> 
<script>

</script>
</body>
<script type="text/javascript" src="/static/main.js"></script>
</html>
